button {
    height: 60px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background: #f8eaea;
}

button:active {
    transform: scale(0.95);
}

button.operator {
    color: rgb(10, 10, 10);
}